galaxy:
  configs:
    galaxy.yml:
      galaxy:
        admin_users: "tests@fake.org"
        master_api_key: {{ common_password }}
        single_user: "tests@fake.org"
    job_conf.yml:
      runners:
        k8s:
          k8s_node_selector: "cloud.google.com/gke-nodepool: default-pool"
  nodeSelector:
    "cloud__google__com/gke-nodepool": "default-pool"
  persistence:
    storageClass: "nfs-{{ prefix }}-1"
  postgresql:
    galaxyDatabasePassword: {{ common_password }}
    master:
      nodeSelector:
        "cloud__google__com/gke-nodepool": "default-pool"
    persistence:
      existingClaim: "{{ prefix }}-1-postgres-disk-pvc"
  service:
    type: loadbalancer
nfs:
  nodeSelector:
    "cloud__google__com/gke-nodepool": "default-pool"
  persistence:
    existingClaim: "{{ prefix }}-1-nfs-disk-pvc"
  storageClass:
    name: "nfs-{{ prefix }}-1"
persistence:
  nfs:
    name: "{{ prefix }}-1-nfs-disk"
    persistentVolume:
      extraSpec:
        gcePersistentDisk:
          pdName: "{{ prefix }}-1-nfs-pd"
  postgres:
    name: "{{ prefix }}-1-postgres-disk"
    persistentVolume:
      extraSpec:
        gcePersistentDisk:
          pdName: "{{ prefix }}-1-postgres-pd"

