<!DOCTYPE html>
<html>
<head>
<style>
#deployments {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#deployments td, #deployments th {
  border: 1px solid #ddd;
  padding: 8px;
}

#deployments tr:nth-child(even){background-color: #f2f2f2;}

#deployments tr:hover {background-color: #ddd;}

#deployments th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>
<img src="deployments.svg" />
<table id="deployments">{{ table }}</table>
</body>
